<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'main/styles.css'%}">
  <link rel="stylesheet" href="{% static 'main/animation.css'%}">
  <link rel="stylesheet" href="{% static 'main/icon.css'%}">
  <title>두둥실 움직이는 버튼</title>
</head>
<body id ="body">
  <input type="file" id="fileInput">
  <script src="{% static 'js/script.js'%}"></script>
</body>
</html>
